@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fontsource/sora/index.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Sora", sans-serif !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

nav {
  margin-bottom: 16px;
}

button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.round-image {
  border-radius: 50%;
  border: 1px solid black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
